@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@font-face {
    font-family: 'Carbon BL';
    src: url('/fonts/carbon-bl.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Carbon Phyber';
    src: url('/fonts/carbon-phyber.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Olney Light';
    src: url('/fonts/olney-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-yellow-bee: #ebd0a1;
    --color-gray-bee: #666666;
}
